.about {
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    $size: 40px;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;

    .bg_links {
        width: $size;
        height: $size;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff, 0.2);
        border-radius: 100%;
        backdrop-filter: blur(5px);
        position: absolute;
    }

    .logo {
        width: $size;
        height: $size;
        z-index: 9;
        background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 10px 7px;
        opacity: 0.9;
        transition: all 1s 0.2s ease;
        bottom: 0;
        right: 0;
    }

    .social {
        opacity: 0;
        right: 0;
        bottom: 0;

        .icon {
            width: 100%;
            height: 100%;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            display: flex;
            transition: all 0.2s ease, background-color 0.4s ease;
            opacity: 0;
            border-radius: 100%;
        }

        &.portfolio {
            transition: all 0.8s ease;

            .icon {
                background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
            }
        }

        &.dribbble {
            transition: all 0.3s ease;
            .icon {
                background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
            }
        }

        &.linkedin {
            transition: all 0.8s ease;
            .icon {
                background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
            }
        }
    }

    &:hover {
        width: 105px;
        height: 105px;
        transition: all $transition;

        .logo {
            opacity: 1;
            transition: all 0.6s ease;
        }

        .social {
            opacity: 1;

            .icon {
                opacity: 0.9;
            }

            &:hover {
                background-size: 28px;
                .icon {
                    background-size: 65%;
                    opacity: 1;
                }
            }

            &.portfolio {
                right: 0;
                bottom: calc(100% - 40px);
                transition: all 0.3s 0s $cubic;
                .icon {
                    &:hover {
                        background-color: #698fb7;
                    }
                }
            }

            &.dribbble {
                bottom: 45%;
                right: 45%;
                transition: all 0.3s 0.15s $cubic;
                .icon {
                    &:hover {
                        background-color: #ea4c89;
                    }
                }
            }

            &.linkedin {
                bottom: 0;
                right: calc(100% - 40px);
                transition: all 0.3s 0.25s $cubic;
                .icon {
                    &:hover {
                        background-color: #0077b5;
                    }
                }
            }
        }
    }
}

.wrapper {
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: 700px;
    }
}

.services-heading {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

//CARD END

// About

.about-section {
    background: url(serv.png) no-repeat left;
    background-size: 50%;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
}

.inner-container {
    width: 55%;
    float: right;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}

//Service page
.service-img {
    width: 500px;
}

.marg-serice {
    margin: 50px;
    border-radius: 50%;
}

//Button
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
.btn-12 span {
    background: black !important;
    background: linear-gradient(
        0deg,
        rgba(0, 172, 238, 1) 0%,
        rgba(2, 126, 251, 1) 100%
    );
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
//////////////
/* 13 */

.custom-btn-2 {
    width: 90px;
    height: 25px;
    color: #fff;
    border-radius: 5px;
    background: transparent;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-size: 12px;
    padding-top: 5px;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}
.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-13:hover {
    color: #fff;
}
.btn-13:hover:after {
    top: 0;
    height: 100%;
}
.btn-13:active {
    top: 2px;
}
//////////////

//Service Form
//..
//..

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #161616;
    margin: 0 auto;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 10px;
    display: inline-block;
    width: 100%;
    min-width: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: #fff;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8d8d8d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary {
    background-color: #6c757d;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8d8d8d;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8d8d8d;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

.hero-x {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: right;

    .content {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        color: white;
        margin: 150px 80px;
        font-size: 20px;
        justify-content: start;
        align-items: flex-start;

        h1 {
            font-size: 38px;
            font-weight: bold;
        }

        button {
            padding: 10px 35px;
            background-color: #00000054;
        }

        .btn:hover {
            transform: scale(1.1);
            background: #000;
            transition: all 0.4s ease;
        }
    }
}

.vehicle__container {
    display: grid;
    place-content: center;
}

.vehicle__chooser {
    display: flex;
    min-width: 800px;
    max-width: 1000px;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;

    img {
        width: 60px;
    }

    div {
        cursor: pointer;
        width: 70px;
        height: 70px;
        display: grid;
        place-content: center;
    }

    .selected {
        background: #000000be;
        border-radius: 50%;
        transition: all 0.1s ease;

        svg {
            fill: white;
        }
    }
}

.whyus__container {
    display: grid;
    place-content: center;

    .flex {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        min-width: 1000px;
        margin: 3;
    }
    .custom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: rgba(128, 128, 128, 0.021);
        border-radius: 10px;
        padding: 15px;

        h1 {
            font-weight: 700;
            font-size: 22px;
            padding: 3px 2px;
        }

        p {
            max-width: 200px;
        }
    }
}

.howitwork-container {
    min-width: 400px;
}

.dashed {
    height: 30px;
    width: 1px;
    // top: -20px;
    left: 4px;
    position: relative;
}

.model__container {
    display: grid;
    place-content: center;
    margin-top: 20px;
    .flex {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        min-width: 1000px;
    }
    option {
        border-radius: 0;
        background-color: white;
        padding: 10px;
    }
}

.number-box {
    background: rgba(196, 196, 196, 0.11);
}
.mobile__input {
    display: flex;
    align-items: center;

    input {
        max-width: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .brands__image__wrapper {
        flex-direction: column;
    }
}

.brands__image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works__outer {
    display: grid;
    place-content: center;
    margin: 80px 0;
}

.how-it-works__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .how-it-works__item {
        opacity: 1;
        display: flex;
        width: 400px;
        align-items: center;
        margin: 5px 0;
        padding: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(236, 236, 236, 0.26);
            transition: all 0.5s ease;
        }

        .indexes {
            width: 50px;
            height: 50px;
            display: grid;
            place-content: center;
            background-color: rgba(128, 128, 128, 0.082);
            z-index: 10;
        }
    }
}

.active-item-animate-0 {
    opacity: 0;
    animation: animate 1s ease-in-out 0s 1 forwards;
}

.active-item-animate-1 {
    // display: none !important;
    animation: animate2 1s ease-in-out 0s 1 forwards;
}

.active-item-animate-2 {
    // display: none !important;
    animation: animate3 1s ease-in-out 0s 1 forwards;
}

@keyframes animate {
    0% {
        transform: translateX(150px);
    }
    100% {
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(200px);
    }
    100% {
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(250px);
    }
    100% {
    }
}

@media screen and (max-width: 900px) {
    .services__wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (max-width: 600px) {
    .job__footer {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        min-height: 500px !important;
        div {
            margin-top: 5px;
        }
    }
    .sm-mt-5 {
        margin-top: 70px;
    }
    .vehicle__chooser {
        flex-direction: column;
    }
    .sm-flex-column {
        flex-direction: column;
    }
    .model__container {
        margin-top: 20px;
        .flex {
            max-width: 600px;
            min-width: 250px;
        }
        .flex select {
            max-width: 300px !important;
        }
    }
    .pt-sm-5 {
        padding-top: 20px;
    }
    .whyus__container {
        .flex {
            flex-direction: column;
            max-width: 600px;
            min-width: 250px;
        }
    }
    .block-slideshow__item-title {
        font-size: 35px;
        line-height: 50px;
        padding-bottom: 30px;
    }
    .services__wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

.services__wrapper {
    display: grid !important;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 15px;

    .services__item {
        max-width: 250px;
        background: #ffffff;
        border-radius: 20px;
        padding: 20px;
        cursor: pointer;
        border: 2px solid rgba(231, 231, 231, 0.341);

        &:hover {
            box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
            transition: all 0.5s ease;
        }

        b {
            font-size: 22px;
            letter-spacing: 2px;
        }
    }
}

.job__wrapper {
    background-color: #fff;
    border-radius: 10px;
    max-height: 200px;
    min-width: 100%;

    h1 {
        font-size: 22px;
        padding-bottom: 0px !important;
        margin: 0 !important;
    }
    p {
        font-weight: 400;
        margin: 0;
    }

    .job__description {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 22px;
            padding-bottom: 0px !important;
            margin: 0 !important;
        }
        p {
            color: gray;
            font-weight: 400;
            margin: 0;
        }
        .btn-outline-dark {
            border: 1px solid black;
        }
    }

    .job__footer {
        background-color: rgba(202, 202, 202, 0.185);
        display: flex;
        padding: 20px;

        i {
            color: #777;
        }

        p {
            font-weight: 500;
            color: #777;
        }
    }
}
