.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
    .img-faq {
        width: 50%;
        border: 2px solid gray;
    }
    * {
        margin: 20px;
    }
}

.faq {
    max-width: 900px;
    margin: 20px auto;
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        border: 2px solid whitesmoke !important;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-radius: 5px;
        margin: 2px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .accordion:hover {
        background-color: rgb(29, 29, 29);
        color: white;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
}
