/*
// .search
*/
@import "../variables";
@import "../mixins/direction";
@import "../mixins/header";

@include desktop-header-variant-selector {
    .search__dropdown {
        $local-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
        $local-duration: 0.25s;

        color: map_get($menu-scheme, opposite);
        background-color: map_get($menu-scheme, main);
        box-shadow: map_get($menu-scheme, shadow);
        position: absolute;
        top: 100%;
        border-radius: 1.5px;
        opacity: 0;
        transform: translateY(26px);
        visibility: hidden;
        transition: opacity $local-duration $local-timing,
            transform $local-duration $local-timing,
            visibility 0s $local-duration;

        @include direction {
            #{$inset-inline-start}: 0;
            #{$inset-inline-end}: 0;
        }
    }
    .search__dropdown--open {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition-delay: 0s;
    }
    .search__button-icon svg {
        display: block;
    }
}
.select-city-layout {
    * {
        margin: 0;
        padding: 0;
    }
    .title-select-city {
        margin: 15px 0;
    }
    padding: 10px;
    .city-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .city-card {
            height: 100px;
            width: 100px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.5px solid rgb(136, 136, 136);
            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }
            img {
                object-fit: contain;
            }
            svg {
                width: 60px;
                height: 60px;
                transition: transform 0.2s;
            }
            cursor: pointer;
            &:hover {
                border: 1px solid #0012B1;
                // background-color: #515cb8;
            }
        }
    }
    .headline-city__select {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .other-city-flex {
        display: flex;
        .other-city-card {
            margin: 0 7px;
            padding: 3px 8px;
            border-radius: 10px;
            border: 1px solid purple;
            cursor: pointer;
        }
    }
    .current-city {
        border: 1px solid #0012B1;
        background-color: #0012B1;
    }
}

@import "search--header--classic";
